---
import Layout from "../layouts/Layout.astro";
import { books } from "../data/books.js";

const {book} = Astro.params;

const info = books.find((b) => b.id === book);

if (!info) {
    return Astro.redirect("/404");
}
---
<Layout title={`Boook ${info.title}`}>
    <main class="m-auto max-w-4xl"> 
        <header class="flex mt-8 px-4 justify-between items-center gap-4">
            <a class="font-bold py-2 px-4 rounded bg-purple-600 text-white shadow-lg hover:bg-purple-700 hover:shadow-bg-purple-600/50" href="/">Regresar</a>
        </header>
        <div class="grid sm:grid-cols-[300px_1fr] gap-x-10 mt-10 px-4">
            <div class="flex flex-col">
                <picture class="w-full relative">
                    <img class="aspect-[200/300] h-full object-cover w-full max-w-full rounded" 
                    src={info.img} 
                    alt={`Cover of book ${info.title}`} 
                    style={`view-transition-name: book-${info.id}`}/>
                </picture>
            </div>
            <aside>
                <h1 class="text-4xl font-black mb-4">{info.title}</h1>
                <p class="text-lg mb-4">{info.opinion}</p>   
                <p><strong>Autor:</strong> <span class="font-semibold text-gray-800">{info.author}</span></p> 
            </aside>
        </div>
    </main>
</Layout>